<br>
<br>   

<div class="row">
    <div class="input-field col s12 m8 l8">
        <input ng-model="searchBar.reqParams.searchTerm" type="text" id="searchTerm" required />
        <label for="searchTerm">Type here to search</label>
    </div>
    <div class=" col s12 m4 l4">
            <label for="maxItems">Max Items</label>
            <select ng-model="searchBar.reqParams.maxItems" name="maxItems" id="maxItems" class="browser-default">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select>
        </div>
</div>

<div class="row">    
    <div class=" m12 s12 l12">
        <button class="btn-large deep-orange " ng-click="searchBar.searchHandler()">Search</button>
    </div> 
</div> 

<div class="row">    
    <div class=" col s6 m3 l3">
        <label for="sortBy" class="label">Sort By:</label>
        <select ng-model="searchBar.sortBy" name="sortBy" id="sortBy" class="browser-default">
                <option value="name">Name</option>
                <option value="date">Publish Date</option>
        </select>
    
    </div>
 
    <div class=" col s6 m3 l3">
        <label for="sortBy" class="label">Order:</label>
        <select ng-model="searchBar.order" name="order" id="order" class="browser-default">
            <option value="asc" >Ascending</option>
            <option value="dsc" >Desceding</option>
        </select>
    </div>
</div>

<div class=" m21 col s6 m3 l3">
    <button class="btn" ng-click="searchBar.sortHandler()">Sort</button>
</div>

<br>
      
<!-- List of videos -->
<result-list ng-hide="searchBar.err"  result = "searchBar.resultList"></result-list>

<h4 ng-show="searchBar.err" class="valign center" > There was an error (Check Internet Connection) </h4